/* Reset some default styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* Set a background color and text color */
body {
    background-color: #B200ED;
    color: #fff;
    font-family: sans-serif;
}

/* Style the header and navigation menu */
header {
    background-color: #08A162;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Style the sections */
section {
    padding: 40px;
}

.home {
    text-align: center;
}

/* Style the project boxes */
.project {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #08A162;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

/* Style the social media links */
.social a {
    margin-right: 10px;
    text-decoration: none;
    color: #333;
}


/* Style the footer */
footer {
    background-color: #08A162;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

footer img {
    width: 30px;
    height: 30px;
}